<div style="height:80vh;">
  <div *ngIf="isAnalyticsCopilotAllowed && isFunctionApp" class = 'chatContextDropdownAlignment'>
    <fab-dropdown label="Chat context" id="chatIdentifierDropdown" [options]="chatIdentifierDropdownOptions" (onChange)="updateChatIdentifierDropdownOptions($event)" [styles]="chatIdentifierDropdownWidth"></fab-dropdown>
  </div>
  <openai-chat-container [chatIdentifier]="chatIdentifier"
      [chatContextLength]="10" 
      [chatModel] = "chatModel"
      [chatQuerySamplesFileUri]="chatQuerySamplesFileUri"
      [chatHeader]="chatHeader"
      [systemPhotoSource]="'/assets/img/bot_sparkle_icon.svg'"
      [contentDisclaimerMessage] = "'* This model is in training and may not be accurate. Please submit feedback via 👍 and 👎 to help improve the model.'"
      [showCopyOption]= "true"
      [apiProtocol] = "apiProtocol"
      [feedbackEmailAlias] = "feedbackEmailAlias"
      [onFeedbackClicked] = "onFeedbackClicked"
      [onSystemMessageReceived] = "onSystemMessageReceived"
      [autoAddResourceSpecificInfoToChatMessages] = "chatIdentifier != antaresAnalyticsChatIdentifier"
      [customInitialPrompt] = "customInitialPrompt"
      >
    </openai-chat-container>
    <chat-feedback-panel *ngIf="isFeedbackSubmissionAllowed" [(feedbackPanelState)] = "feedbackPanelOpenState" (onDismissed) = "onDismissed($event)" [onBeforeSubmit] = "onBeforeSubmit"
      [expectedResponseLabelText] = 'expectedResponseLabelText' [additionalFields] = "additionalFields" [chatIdentifier] = "chatIdentifier" [chatContextLength] = "10" [feedbackExplanationMode] = "feedbackExplanationMode"
    ></chat-feedback-panel>
</div>